include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Как приехать в СПб и лопнуть',
      'Личный гайд по заведениям города от писателя Сошникова',
      'http://soshnikov.space/img/default-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../../Dropbox/soshnikov-writing/meanings/spb-drinking-guide.md
