include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Как приехать в Петербург и лопнуть',
      'Личный гайд по заведениям города от писателя Сошникова',
      'http://soshnikov.space/img/default-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            h1 Как приехать в Петербург и лопнуть
            p Несколько лет назад меня окончательно умучили вопросом «Куда сходить в Питере, Артём?». Тогда я сел за стол и написал этот гайд. По возможности я держу его актуальным: убираю заведения, которые испортились, добавляю новые, редактирую описания. Отдельно отмечаю самые любимые места.
            div.map
                p Для удобства все заведения гайда отмечены на Я.карте. Ниже карты — список мест с краткими описаниями и ссылками.
                p
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Adc7711b883395410edc3f868ec5337847a10341442ee83004c09107d0c574b84&amp;source=constructor" width="100%" height="472" frameborder="0")
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../../Dropbox/soshnikov-writing/meanings/spb-drinking-guide.md