@import "../../scss/grid";
@import "../../scss/typo";

.button {
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  font: $fontSmallDesktop;

  @include respond(mobile) {
    @include col100(16px 24px, center, center);
  }

  &:hover {
    transition: 1s;
  }

  &_primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  &_secondary {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      background-color: lighten($blue, 45%);
    }
  }
}
