.articles {
  &__tabs {
    grid-row-start: 2;
  }

  &__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col50(0px 56px 0 56px, column);
    color: $black;
    font: $fontMainDesktop;

    p {
      margin: 0;
    }

    &_cherry {
      margin: 48px 0 32px 0;
      font-family: 'KTRI';
    }

    @include respond(mobile) {
      @include col100(24px 24px 24px 24px, column);
      font: $fontMainDesktop;
    }
  }
}