include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Артём Сошников • Статьи и рецензии',
      'Все нехудожественные тексты в хронологическом порядке',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'articles')
    div.content
        +pageHeadline('Публицистика')
        div.tabs.articles__tabs
            +pagination('all')
        div.list
            +list-header('2022', 'dark')
            +bookCard(
                'Я не то что привык — я люблю',
                'Дмитрий Кудров, «Жить с вами»',
                'Прочтение',
                'https://prochtenie.org/reviews/30850',
                'blank'
            )
            +bookCard(
                    'Устраивали оргии, подкручивали усы и приносили в жертву рабов: 7 фактов о викингах',
                    'Они были не только жестокими воинами, но и законодателями мод, любителями поэзии и талантливыми торговцами',
                    'Bookmate Journal',
                    'https://journal.bookmate.com/ustraivali-orgii-podkruchivali-usy-i-prinosili-v-zhertvu-rabov-7-faktov-o-vikingah/',
                    'blank'
                )
            +list-header('2021', 'dark')
            +bookCard(
                'Три события на «р», которые изменили Европу: Реконкиста, Рисорджименто и революция',
                'Как появились современные Испания, Италия и Франция. И что почитать про это',
                'Bookmate Journal',
                'https://journal.bookmate.com/tri-sobytiya-na-r-kotorye-izmenili-evropu-rekonkista-risordzhimento-i-revolyuciya/',
                'blank'
            )
            +bookCard(
                'Забытый писатель Бестужев-Марлинский: от ссылки в Якутию до страшной гибели под Адлером',
                'Его называли «Пушкиным прозы» и обвиняли в убийстве. А еще он видел казнь лучшего друга и воевал на Кавказе',
                'Bookmate Journal',
                'https://journal.bookmate.com/zabytyj-pisatel-bestuzhev-marlinskij-ot-ssylki-v-yakutiyu-do-strashnoj-gibeli-pod-adlerom/',
                'blank'
            )
            +bookCard(
                'Золотая урна, чудо-машина и другие способы изменить конституцию или выбрать священника',
                'Методы из книги Давида Ван Рейбрука «Против выборов» и другие невероятные исторические факты',
                'Bookmate Journal',
                'https://journal.bookmate.com/zolotaya-urna-chudo-mashina-i-drugie-sposoby-izmenit-konstituciyu-ili-vybrat-svyashchennika/',
                'blank'
            )
            +bookCard(
                'Догоревший Петербург у меня из окна',
                'Татьяна Млынчик, «Ловля молний на живца»',
                'Прочтение',
                'https://prochtenie.org/reviews/30639',
                'blank'
            )
            +bookCard(
                'Дремучий лес интерпретаций',
                'Александр Соболев, «Грифоны охраняют лиру»',
                'Прочтение',
                'https://prochtenie.org/reviews/30628',
                'blank'
            )
            +bookCard(
                'Почему Иван Гончаров — лучший друг миллениала',
                'Вел популярный тревел-блог, увлекался автофикшном и много прокрастинировал',
                'Bookmate Journal',
                'https://journal.bookmate.com/pochemu-ivan-goncharov-luchshii-drug-milleniala/',
                'blank'
            )
            +bookCard(
                '«Я несчастен — и не знаю почему»',
                'Лавкрафт, Кафка, Зощенко и другие писатели-меланхолики',
                'Bookmate Journal',
                'https://journal.bookmate.com/ya-neschasten-i-ne-znayu-pochemu-lavkraft-kafka-zoshchenko-i-drugie-pisateli-melanholiki/',
                'blank'
            )
            +bookCard(
                'Отец русского пиара',
                'Фаддей Булгарин, «Иван Выжигин»',
                '',
                'bulgarin.html'
            )
            +bookCard(
                'Поддаться, чтобы победить',
                'Булат Ханов, «Гнев», «Непостоянные величины», «Развлечения для птиц с подрезанными крыльями»',
                '',
                'khanov.html'
            )
            +bookCard(
                'Мерцание подтекстов',
                'Алексей Поляринов, «Риф»',
                '',
                'polyarinov-rif.html'
            )
            +list-header('2020', 'dark')
            +bookCard(
                'В каждый город, в каждый книжный',
                'Роберт Гараев, «Слово пацана. Криминальный Татарстан 1970-2010-х»',
                '',
                'garaev-chavs.html'
            )
            +bookCard(
                'Ревью в квадрате',
                ' Журнал «Логос», «Logos Review of Books» №1',
                '',
                'lrb-01.html'
            )
            +bookCard(
                'Расщепление смерти',
                'Сергей Мохов, «История смерти. Как мы боремся и принимаем»',
                '',
                'mokhov-death-history.html'
            )
            +bookCard(
                'Любовь и горе в прозе Михаила Погодина', 
                'М.Погодин, рассказы и повести',
                '',
                'pogodin-stories.html'
            )
            +bookCard(
                '​Что нас ждет, когда нефть кончится?',
                'Н.Срничек, «Капитализм платформ» + 2',
                'Rara Avis',
                'https://rara-rara.ru/menu-texts/chto_nas_zhdet_kogda_neft_konchitsya',
                'blank'
            )
            +bookCard(
                '1430 страниц равнодушия',
                'Алексей Иванов, «Тобол»',
                '',
                'ivanov-tobol.html'
            )
            +bookCard(
                'Путин проиграл «удалёнщикам»',
                '',
                'Рабкор',
                'http://rabkor.ru/columns/analysis/2020/03/28/putin_lost_to_programmers/',
                'blank'
            )
            +bookCard(
                'Попытаться стоило',
                'Ксения Букша, «Чуров и Чурбанов»',
                '',
                'buksha-churov-i-churbanov.html'
            )
            +bookCard(
                'Да как ты смеешь?! «Идиот» Фёдора Достоевского',
                'Ф.Достоевский, «Идиот»',
                '',
                'how-dare-idiot.html'
            )


            +list-header('2019', 'dark')
            +bookCard(
                'Вылизан, но',
                'Алексей Сальников, «Опосредованно»',
                '',
                'salnikov-oposredovanno.html'
            )
            +bookCard(
                'Да как ты смеешь?! «Анна Каренина» Льва Толстого',
                'Л.Толстой, «Анна Каренина»',
                '',
                'how-dare-karenina.html'
            )
            +bookCard(
                'Русская молодёжь одержима путешествиями?',
                'Н.Полевой, рассказы',
                '',
                'selfie-vs-sword.html'
            )
            +bookCard(
                '«Мне просто всё обрыдло»',
                'Борис Рыжий, «Роттердамский дневник»',
                '',
                'carrots-rotterdam.html'
            )
            +bookCard(
                'Герои Сенчина не хотят гулять по Парижу',
                'Роман Сенчин, «Дождь в Париже»',
                '',
                'senchin-paris.html'
            )
            +bookCard(
                'Нет, не о вампирах',
                'Алексей Иванов, «Пищеблок»',
                '',
                'ivanov-foodunit.html'
            )
            +bookCard(
                'Дорогая, я дома',
                'Дмитрий Петровский, «Дорогая, я дома»',
                '',
                'petrovsky-darling.html'
            )
            +bookCard(
                '​Профессионалам тут не место',
                'Энди Мерифилд, «Любитель. Искусство делать то, что любишь»',
                'Rara Avis',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto',
                'blank'
            )
            +bookCard(
                '​До и после смерти',
                'Cергей Мохов, «Рождение и смерть похоронной индустрии» / А.Гаванде «Все мы смертны»',
                'Rara Avis',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto',
                'blank'
            )


            +list-header('2018', 'dark')
            +bookCard(
                'Ревизия Шаламова',
                'Елена Михайлик, «Незаконная комета»',
                '',
                'mikhalik-comet.html'
            )
            +bookCard(
                'Селеба за решёткой',
                'Олег Навальный, «Три с половиной. С арестантским уважением и братским теплом»',
                '',
                'navalny-three-and-a-half.html'
            )
            +bookCard( 
                'Справитесь и вы',
                'Наталия Мещининова, «Рассказы»',
                '',
                'meshchaninova-stories.html'
            )
            +bookCard(
                'Балет рабочего класса',
                'Саймон Кричли, «О чем мы думаем, когда думаем о футболе»',
                '',
                'critchley-football.html'
            )
            +bookCard(
                'Апостол юга Петербурга',
                'Ксения Букша, «Открывается внутрь»',
                '',
                'buksha-is-opened-inside.html'
            )
            +bookCard(
                'Страх неизбежен',
                'Саймон Кричли, «Книга мёртвых философов»',
                '',
                'critchley-dead-sophists.html'
            )
            +bookCard(
                'Игнор сборника на книжной полке',
                'Сергей Носов, «Построение квадрата на шестом уроке»',
                '',
                'nosov-square.html'
            )
            +bookCard(
                'Отдел',
                'Алексей Сальников, «Отдел»',
                '',
                'salnikov-department.html'
            )
            +bookCard( 
                'Обновление Сенчина',
                'Роман Сенчин, «Квартирантка с двумя детьми»',
                '',
                'senchin-tenant.html'
            )
            +bookCard(
                'Такие выборы нам не нужны',
                'Давид ван Рейбрук, «Против выборов»',
                '',
                'van-reybrouck-against-elections.html'
            )
            +bookCard(
                'Личное мнение: зачем читать романы',
                '',
                'Кот Бродского',
                'http://kotbrodskogo.ru/articles/post/117-lichnoe-mnenie-zachem-chitat-romany',
                'blank'
            )
            +bookCard(
                'Лев Данилкин — «Ленин». Обзор от Артёма Сошникова',
                'Лев Данилкин «Ленин. Пантократор солнечных пылинок»',
                'Кот Бродского',
                'http://kotbrodskogo.ru/articles/post/117-lichnoe-mnenie-zachem-chitat-romany',
                'blank'
            )