include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/book-block/book-block

doctype html
html
    +head(
      'Чувство, великое до боли',
      'Артём Сошников о писательской резиденции в Доме творчества «Переделкино»',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2022/peredelkino-1.md
            div.related-articles
                h2 Не допили кофе? 🙂 Так почитайте ещё:
                div.related-articles__row
                    +bookBlock(
                        'autofiction-review',
                        'О хорошем автофикшне',
                        'Когда берусь за автофикшн-прозу, всегда оцениваю её по четырём критериям: интонация, материал, стиль и сюжет...',
                        'autofiction-review.html',
                        'Читать онлайн',
                        '50'
                    )
                    +bookBlock(
                        'instagram',
                        'Наш реализм сильнее ваших инстаграмов',
                        'Когда Инстаграм ещё был молодым, а камеры в смартфонах уступали зеркалкам, мы полюбили фотографировать себя…',
                        'instagram.html',
                        'Читать',
                        '50'
                    )