include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сошников — Отражение в луже',
      'Молодой писатель Борис спешно улетает за границу с одним чемоданом. Там он начинает вести телеграм-канал, описывая свои чувства и впечатления',
      'http://soshnikov.space/img/reflection-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../../Dropbox/soshnikov-writing/writing/novelettes/reflection/reflection.md
