include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/book-block/book-block

doctype html
html
    +head(
      'Охранители всё равно проиграют',
      'Мы не можем убеждать, что движение вперёд тождественно прогрессу, но желающие обратить время вспять всё равно проиграют',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2022/they-will-lose.md
            div.related-articles
                h2 Не допили кофе? 🙂 Так почитайте ещё:
                div.related-articles__row
                    +bookBlock(
                        'instagram',
                        'Наш реализм сильнее ваших инстаграмов',
                        'Когда Инстаграм ещё был молодым, а камеры в смартфонах уступали зеркалкам, мы полюбили фотографировать себя…',
                        'instagram.html',
                        'Читать',
                        '50'
                    )
                    +bookBlock(
                        'bruckner-une-breve-eternite',
                        'Долгая печальная жизнь',
                        'Что Паскаль Брюкнер пишет о старости и умирании в современном мире',
                        'korpisaari.html',
                        'Читать онлайн',
                        '50'
                    )

