include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Артём Сошников • Писательский дневник',
      'Маленькие эссе-размышления на заданные темы, примущественно о литературном процессе, творчестве, произведениях искусства или воспоминаниях',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('Черри-эссе')
        div.articles__content.articles__content_cherry
             p
                em
                    | Маленькие эссе-размышления на заданные темы, примущественно о литературном процессе, творчестве, произведениях искусства или воспоминаниях. За обновлениями можно следить
                    =" "
                    a(href="http://t.me/artem_soshnikov") в телеграм-канале.
        div.list
            +bookCard(
                'Чувство, великое до боли',
                '',
                '',
                'peredelkino.html',
                '_self'
            )
            +bookCard(
                'Охранители всё равно проиграют',
                '',
                '',
                'they-will-lose.html',
                '_self'
            )
            +bookCard(
                'Наш реализм сильнее ваших инстаграмов',
                '',
                '',
                'instagram.html',
                '_self'
            )
            +bookCard(
                'О хорошем автофикшне',
                '',
                '',
                'autofiction-review.html',
                '_self'
            )
            +bookCard(
                'Долгая печальная жизнь',
                '',
                '',
                'bruckner-une-breve-eternite.html',
                '_self'
            )
            +bookCard(
                'Полка вместо помойки',
                '',
                '',
                'about-zines.html',
                '_self'
            )
            +bookCard(
                'Весы (о критериях прозы молодых)',
                '',
                '',
                'weighter.html',
                '_self'
            )
            +bookCard(
                'Гоголь против Булгарина',
                '', '',
                'gogol-vs-bulgarin.html',
                '_self'
            )
            +bookCard(
                'Авторские грёзы',
                '', '',
                'daydreams.html',
                '_self'
            )
            +bookCard(
                'Гройс и реализм',
                '', '',
                'grois-realism.html',
                '_self'
            )
            +bookCard(
                'Младописательский изъян',
                '', '',
                'junior-mistake.html',
                '_self'
            )
            +bookCard(
                'Немного о корнях Газданова',
                '', '',
                'gazdanov-relatives.html',
                '_self'
            )
            +bookCard(
                'Холодные зимы',
                '', '',
                'splean-cold-winter.html',
                '_self'
            )
            +bookCard(
                'О Леониде Лаврове',
                '', '',
                'lavrov.html',
                '_self'
            )
            +bookCard(
                'Чёрный котёнок',
                '', '',
                'black-kitten.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Страх вратаря перед одиннадцатиметровым» Хандке',
                '', '',
                'handke.html',
                '_self'
            )
            +bookCard(
                'Реальные хипстеры',
                '', '',
                'hipsters.html',
                '_self'
            )
            +bookCard(
                'Вертинский и кокаинетка',
                '', '',
                'vertinsky-cocainetka.html',
                '_self'
            )
            +bookCard(
                'Другой Мандельштам',
                '', '',
                'roald-mandelshtam.html',
                '_self'
            )