include ../../components/book-block/book-block
include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников',
        'Писатель, автор романа «Наблюдатель». Эссе, рассказы, телеграм-канал о русском реализме «Чернотроп»',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('')
    div.content
        div.main-info
            p
                | Пишу повести и рассказы, обозреваю прозу, веду телеграм-канал о русском реализме «Чернотроп»
        div.read-first
            +pageHeadline('Что почитать из прозы')
            div.read-first__content
                +bookBlock(
                    'observer',
                    'Наблюдатель',
                    'книжный сериал для Букмейта, первый IT-триллер русской литературы по мнению человека, который его написал 😏',
                    'observer.html',
                    '30'
                )
                +bookBlock(
                    'korpisaari',
                    'Остров глухого леса',
                    'реалистический рассказ, написанный во время индивидуальной резиденции в Переделкине',
                    'korpisaari.html',
                    '30'
                )
                +bookBlock(
                    'selfie',
                    'Вот мои селфи',
                    'цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых',
                    'selfie.html',
                    '30'
                )
        div.read-second
            +pageHeadline('Материалы о писателях')
            div.list
                +bookCard(
                    'Наблюдатель за поражёнными',
                    'Незаслуженно забытый писатель-эмигрант Гайто Газданов жил в Париже, более двадцати лет работал ночным таксистом и считался главным конкурентом Набокова',
                    'Чернотроп',
                    'gazdanov.html',
                    'blank'
                )
                +bookCard(
                    'Забытый писатель Бестужев-Марлинский',
                    'Одним из первых увлекся романтизмом и реализмом, был сослан в Сибирь за участие в восстании декабристов, воевал рядовым в Дагестане и описал Кавказ раньше классиков русской литературы',
                    'Bookmate Journal',
                    'https://journal.bookmate.com/zabytyj-pisatel-bestuzhev-marlinskij-ot-ssylki-v-yakutiyu-do-strashnoj-gibeli-pod-adlerom/',
                    'blank'
                )
                +bookCard(
                    'Любовь и горе в прозе Михаила Погодина',
                    'Страдания крестьян, протофем-экшн и невозможность любви — в шести рассказах бывшего крепостного, доросшего до тайного советника Николая I',
                    'Bookmate Journal',
                    'pogodin-stories.html',
                    'blank'
                )
                +bookCard(
                    'Отец русского пиара',
                    'Фаддей Булгарин — первый русский пиарщик, бравший Москву в рядах армии Наполеона, агент Третьего отделения и цензор Пушкина',
                    'Чернотроп',
                    'bulgarin.html'
                )
                +bookCard(
                    'Почему Иван Гончаров — лучший друг миллениала',
                    'Потому что вёл популярный тревел-блог, увлекался автофикшном и много прокрастинировал',
                    'Bookmate Journal',
                    'https://journal.bookmate.com/pochemu-ivan-goncharov-luchshii-drug-milleniala/',
                    'blank'
                )
        div.read-third
            +pageHeadline('Советую почитать')
            div.list
                +bookCard(
                    'Вневременный Набоков',
                    'Владимир Набоков, «Камера обскура»',
                    '',
                    'nabokov-camera-obscura.html',
                    'blank'
                )
                +bookCard(
                    '«Мне просто всё обрыдло»',
                    'Борис Рыжий, «Роттердамский дневник»',
                    '',
                    'carrots-rotterdam.html',
                    'blank'
                )
                +bookCard(
                    'Догоревший Петербург у меня из окна',
                    'Татьяна Млынчик, «Ловля молний на живца»',
                    'Прочтение',
                    'https://prochtenie.org/reviews/30639',
                    'blank'
                )
                +bookCard(
                    'Поддаться, чтобы победить',
                    'Булат Ханов, три романа',
                    'Прочтение',
                    'khanov.html',
                    'blank'
                )
                +bookCard(
                    'Дремучий лес интерпретаций',
                    'Александр Соболев, «Грифоны охраняют лиру»',
                    'Прочтение',
                    'https://prochtenie.org/reviews/30628',
                    'blank'
                )
        div.end 
            p
                | Здесь больше ничего нет. Листайте наверх, посетите
                =" "
                a(href="stories.html") раздел прозы
                |  или подпишитесь на
                =" "
                a(href="https://t.me/artem_soshnikov" target="blank") телеграм-канал
                =" "
                | 🙂