include ../../components/book-block/book-block
include ../../components/book-card/book-card
include ../../components/button/button
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников: писатель, автор книги «Наблюдатель», ведущий подкаста «Два авторских»',
        'Писатель, Санкт-Петербург. Книги: Наблюдатель, Отражение в луже. Эссе, рассказы. Подкаста «Два авторских»',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('')
    div.content
        div.main-info
            p
                | Пишу рассказы и автофикшн-эссе, делюсь мыслями в
                =" "
                a(href="https://t.me/artem_soshnikov") телеграм-канале
                |, веду вместе с Таней Млынчик подкаст о литературе «
                a(href="https://writers.mave.digital/") Два авторских
                |»
        div.read-first
            +pageHeadline('Три лучших рассказа')
            div.read-first__content
                +bookBlock(
                    'korpisaari',
                    'Остров глухого леса',
                    'История о программисте Ване, тяге к одиночеству, поиске спойкойствия, дружбе и судьбоносном выборе',
                    'korpisaari.html',
                    '30'
                )
                +bookBlock(
                    'city-of-impossibility',
                    'Город невозможности',
                    'Иногда так бывает: весна, зелень вовсю распускается на ветвях, днём градусов двадцать…',
                    'city-of-impossibility.html',
                    '30'
                )
                +bookBlock(
                    'coupe',
                    'Купе',
                    'Олег вынужден находиться в одном купе с отцом-акоголиком, везя его в петербургский рехаб',
                    'coupe.html',
                    '30'
                )
                div.read-first__button
                    +button('secondary', 'Читать все рассказы', 'stories.html')
        div.read-second
            +pageHeadline('Лучшие автофикшн-эссе')
            div.read-second__content
                +bookBlock(
                    'job',
                    'Десять работ',
                    'Воспоминания о юности через призму десяти работ',
                    'korpisaari.html',
                    '30'
                )
                +bookBlock(
                    'violentia',
                    'Погнутый телескоп',
                    'Художественное эссе о насилии, волочащемся за мной по пятам',
                    'city-of-impossibility.html',
                    '30'
                )
                +bookBlock(
                    'twelve-years-later',
                    'Двенадцать лет спустя',
                    'Эссе о временной разлуке с Петербургом',
                    'twelve-years-later.html',
                    '30'
                )
                div.read-second__button
                    +button('secondary', 'Читать все эссе', 'autofiction-esse.html')
        div.end 
            p
                | Здесь больше ничего нет. Листайте наверх, посетите
                =" "
                a(href="stories.html") раздел рассказов
                |  или подпишитесь на
                =" "
                a(href="https://t.me/artem_soshnikov" target="blank") телеграм-канал
                =" "
                | 🙂