include ../../components/book-block/book-block
include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников',
        'Пишу и обозреваю прозу, веду телеграм-канал о реализме «Чернотроп»',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('')
    div.content
        div.main-info
            p
                | Пишу и обозреваю прозу, веду телеграм-канал о русском реализме «Чернотроп»
        div.read-first
            +pageHeadline('Что почитать из прозы')
            div.read-first__content
                +bookBlock(
                    'observer', 
                    'Наблюдатель', 
                    'Первый IT-триллер русской прозы. Дебютный роман, вошедший в лонг-лист премии «Лицей» в 2021-м году', 
                    'observer.html', 
                    'Читать онлайн'
                )
                +bookBlock(
                    'selfie',
                    'Вот мои селфи',
                    'Цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых. Рассказы публиковались в альманахе «Взмах» и сборнике «Рукопожатие Кирпича» издательства «Symposium»',
                    'selfie.html',
                    'Читать онлайн'
                )
                +bookBlock(
                    'misfortunes', 
                    'Рассказы разных бед', 
                    'Реалистическая проза о людях, их демонах и окружающей нас боли', 
                    'misfortunes.html', 
                    'Читать онлайн'
                )
        div.read-second
            +pageHeadline('Свежие обзоры и рецензии')
            div.list
                +bookCard(
                        'Забытый писатель Бестужев-Марлинский',
                        'От ссылки в Якутию до страшной гибели под Адлером',
                        'Bookmate Journal',
                        'https://journal.bookmate.com/zabytyj-pisatel-bestuzhev-marlinskij-ot-ssylki-v-yakutiyu-do-strashnoj-gibeli-pod-adlerom/',
                        'blank'
                )
                +bookCard(
                    'Догоревший Петербург у меня из окна',
                    'Татьяна Млынчик, «Ловля молний на живца»',
                    'Прочтение',
                    'https://prochtenie.org/reviews/30639',
                    'blank'
                )
                +bookCard(
                    'Дремучий лес интерпретаций',
                    'Александр Соболев, «Грифоны охраняют лиру»',
                    'Прочтение',
                    'https://prochtenie.org/reviews/30628',
                    'blank'
                )
                +bookCard(
                    'Почему Иван Гончаров — лучший друг миллениала',
                    'Вел популярный тревел-блог, увлекался автофикшном и много прокрастинировал',
                    'Bookmate Journal',
                    'https://journal.bookmate.com/pochemu-ivan-goncharov-luchshii-drug-milleniala/',
                    'blank'
                )
                +bookCard(
                    '«Я несчастен — и не знаю почему»',
                    'Лавкрафт, Кафка, Зощенко и другие писатели-меланхолики',
                    'Bookmate Journal',
                    'https://journal.bookmate.com/ya-neschasten-i-ne-znayu-pochemu-lavkraft-kafka-zoshchenko-i-drugie-pisateli-melanholiki/',
                    'blank'
                )
                +bookCard(
                    'Отец русского пиара',
                    'Фаддей Булгарин, «Иван Выжигин»',
                    '',
                    'bulgarin.html'
                )
        div.end 
            p
                | Здесь больше ничего нет. Листайте наверх, посетите
                =" "
                a(href="stories.html") раздел прозы
                |  или подпишитесь на
                =" "
                a(href="https://t.me/artem_soshnikov" target="blank") телеграм-канал
                =" "
                | 🙂