include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/book-block/book-block

doctype html
html
    +head(
      'Гройс и реализм',
      '«Художественный журнал» перевёл с английского [статью] Бориса Гройса, в которой он пророчит возрождение реализма и попутно пугает простолюдинов вроде нас феноменологией духа Гегеля, а также терминами «постделезианский» и «неодионисийский»…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2021/grois-realism.md
            div.related-articles
                h2 Не допили кофе? 🙂 Так почитайте ещё:
                div.related-articles__row
                    +bookBlock(
                        'instagram',
                        'Наш реализм сильнее ваших инстаграмов',
                        'Когда Инстаграм ещё был молодым, а камеры в смартфонах уступали зеркалкам, мы полюбили фотографировать себя…',
                        'instagram.html',
                        'Читать',
                        '50'
                    )
                    +bookBlock(
                        'korpisaari',
                        'Остров глухого леса',
                        'Реалистический рассказ для тех, кто решил всё же остаться',
                        'korpisaari.html',
                        'Читать онлайн',
                        '50'
                    )