include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/book-block/book-block

doctype html
html
    +head(
      'Сошников — Опёнок',
      'Реалистический рассказ о тех, кто не проходит мимо лежащих на улице людей',
      'http://soshnikov.space/img/openok-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../../Dropbox/soshnikov-writing/writing/funny/other/openok.md
            div.related-articles
                h2 Понравилось? 🙂 Почитайте ещё:
                div.related-articles__row
                    +bookBlock(
                        'korpisaari',
                        'Остров глухого леса',
                        'Реалистический рассказ о тех, кто решил всё же остаться',
                        'korpisaari.html',
                        'Читать',
                        '50'
                    )
                    +bookBlock(
                        'simulation',
                        'Порадуй своего гуманоида',
                        'К тридцати годам Миха окончательно убедился, что все мы живём в симуляции или, если хотите, в многопользовательской игре, где людьми управляют инопланетяне',
                        'simulation.html',
                        'Читать онлайн',
                        '50'
                    )
