include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников • Повести',
        '',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('Проза')
        div.tabs.stories__tabs
            +writingTags('novels')
        div.stories__content
            +bookBlock(
                'observer', 
                'Наблюдатель', 
                'Дебютный роман, первый русский IT-триллер по мнению человека, который его написал. Лонг-лист премии «Лицей», 2021', 
                'observer.html', 
                'читать онлайн или скачать'
)
