include ../../components/head/head
include ../../components/header/header
include ../../components/audio-card/audio-card
include ../../components/book-card/book-card
include ../../components/book-block/book-block
include ../../components/button/button

doctype html
html
    +head(
      'Артём Сошников — Наблюдатель',
      'Книжный сериал на Букмейте, IT-триллер',
      'http://soshnikov.space/img/observer-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 Наблюдатель
        div.profile__annotation
            p Петербург, 2019-й год. Менеджер крупного IT-холдинга Антон Приморский идёт на повышение — он становится директором небольшого стартапа в сфере цифрового образования. Холдинг отправляет его в городок Коммунар-на-Волге договариваться с региональным Минобром об участии в тендере. Антон готовится окунуться в атмосферу грубости, безысходности и кумовства, однако, на месте его подстерегают трудности совершенно иного рода — настолько судьбоносные, что коррумпированность чиновников покажется ему сущей мелочью.
            p.profile__annotation-buttons
                +button('primary', 'Читать на Букмейте', 'https://bookmate.ru/serials/V7WBmCes')
                +button('secondary', 'Слушать на Я.Музыке', 'https://music.yandex.ru/album/24421832?activeTab=about')
        div.profile__cover
            img(src="http://soshnikov.space/img/observer-cover.jpg")
        div.profile__review-title#review
            h2 Рецензии
        div.profile__review-contents
            +bookCard(
                'Елена Васильева, «Живой Труп»',
                '«Где проходит граница между мертвым и живым, живы или мертвы мы на самом деле — вопросы философские, но Сошников не пускается в длительные объяснения, подобно Елизарову в “Земле”…»',
                'Прочтение',
                'https://prochtenie.org/reviews/30847',
                'review',
                'blank'
            )
        div.profile__another-title#another
            h2 Нет подписки «Яндекс.Плюс»?
            p Не беда — почитайте другие мои произведения, который доступны бесплатно на сайте:
        div.profile__another-contents
            div.read-first__content
                +bookBlock(
                    'korpisaari',
                    'Остров глухого леса',
                    'Реалистический рассказ, написанный во время индивидуальной резиденции в Переделкине',
                    'korpisaari.html',
                    '30'
                )
                +bookBlock(
                    'selfie',
                    'Вот мои селфи',
                    'Цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых',
                    'selfie.html',
                    '30'
                )
                +bookBlock(
                    'misfortunes',
                    'Рассказы разных бед',
                    'Строгая реалистическая проза о людях, их демонах и окружающей нас боли. Часть рассказов выходила в зине «Бетон»',
                    'misfortunes.html',
                    '30'
                )
