include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников • Повести и рассказы',
        '',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('Проза')
        div.tabs.stories__tabs
            +writingTags('novelettes')
        div.stories__content
            +bookBlock(
                'observer',
                'Наблюдатель',
                'Книжный сериал для Букмейта, первый IT-триллер русской литературы по мнению человека, который его написал 😏',
                'observer.html',
                '30'
            )
            +bookBlock(
                'dear-citizens',
                'Дорогие петербуржцы',
                'Книжный сериал о Петербурге ближайшего будущего',
                'dear-citizens.html',
                '30'
            )