include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Артём Сошников • Рассказы',
      '',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('Проза')
        div.tabs.stories__tabs
            +writingTags('stories')
        div.stories__content
            +bookBlock(
                'selfie', 
                'Вот мои селфи', 
                'Цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых. Рассказы публиковались в альманахе «Взмах» и сборнике «Рукопожатие Кирпича» издательства «Symposium»', 
                'selfie.html', 
                'читать онлайн'
            )
            +bookBlock(
                'misfortunes',
                'Рассказы разных бед',
                'Строгая реалистическая проза о людях, их демонах и окружающей нас боли. Часть рассказов выходила в зине «Бетон»',
                'misfortunes.html',
                'читать онлайн'
            )
        div.list
            +list-header('Рассказы вне циклов', 'dark')
            +bookCard(
                'Дни локальной жизни',
                '',
                'Colta',
                'https://www.colta.ru/articles/molodaya_rossiya/29414-artem-soshnikov-dni-lokalnoy-zhizni',
                'blank'
            )
            +bookCard(
                'Порадуй своего гуманоида',
                '',
                'Dutch Rudder',
                'simulation.html',
                'blank'
            )