include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сошников — Наблюдатель',
      'Четвёртая глава романа',
      'http://soshnikov.space/img/observer-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('наблюдатель', 'observer')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/novels/observer/chapter-4.md
            div.story__next
                a(href="observer-chapter-5.html") читать следующий эпизод →
                a(href="observer.html#connotation") ← вернуться в содержание

