include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Артём Сошников • Повести и рассказы',
      '',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('Проза')
        div.stories__content
            +bookBlock(
                'reflection',
                'Отражение в луже (2023)',
                'В конце сентября молодой писатель Борис спешно улетает за границу. Там он начинает вести телеграм-канал, описывая свои чувства и впечатления',
                'reflection.html',
                '30'
            )
            +bookBlock(
                'observer',
                'Наблюдатель (2022)',
                'Продуктовый директор IT-стартапа Антон отправляется в командировку, где сталкивается с нехилыми проблемами',
                'observer.html',
                '30'
            )
            +bookBlock(
                'korpisaari',
                'Остров глухого леса (2022)',
                'История о программисте Ване, тяге к одиночеству, поиске спойкойствия, дружбе и судьбоносном выборе',
                'korpisaari.html',
                '30'
            )
            +bookBlock(
                'misfortunes',
                'Рассказы разных бед (2018)',
                'Три рассказа о родителях, малой родине и окружающей подростка нулевых боли',
                'misfortunes.html',
                '30'
            )
            +bookBlock(
                'inside',
                'Инсайд (2018)',
                'Московские авантюристы вместе с полусумасшедшим доцентом заводят фейковый инсайдерский телеграм-канал',
                'inside.html',
                '30'
            )
            +bookBlock(
                'selfie',
                'Вот мои селфи (2016)',
                'Цикл псевдоироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых',
                'selfie.html',
                '30'
            )
        div.list
            +list-header('Рассказы вне циклов', 'dark')
            +bookCard(
                'Десять работ',
                '',
                '',
                'job.html',
                'blank'
            )
            +bookCard(
                'Опёнок',
                '',
                '',
                'openok.html',
                'blank'
            )
            +bookCard(
                'Дни локальной жизни',
                '',
                'Colta',
                'https://www.colta.ru/articles/molodaya_rossiya/29414-artem-soshnikov-dni-lokalnoy-zhizni',
                'blank'
            )
            +bookCard(
                'Порадуй своего гуманоида',
                '',
                'Dutch Rudder',
                'simulation.html',
                'blank'
            )
            +bookCard(
                'Дайте мне умереть',
                '',
                'Скобы',
                'let-me-die.html',
                'blank'
            )
            +bookCard(
                'Вингер',
                '',
                '',
                'winger.html',
                'blank'
            )
            +bookCard(
                'Верблюд',
                '',
                '',
                'camel.html',
                'blank'
            )
            +bookCard(
                'Меладзе',
                '',
                '',
                'meladze.html',
                'blank'
            )
            +bookCard(
                'Кисточка',
                '',
                '',
                'brush.html',
                'blank'
            )
            +bookCard(
                'Уроборос',
                '',
                '',
                'ouroboros.html',
                'blank'
            )