mixin audioCard(id, mode)
    div(class=`audio-card audio-card${mode}`, href="#")
            div(class=`audio-card__cover audio-card${mode}__cover`)
                img(src=`http://soshnikov.space/img/${id}.jpg`)
            div.audio-card__description
                if block
                    block
                else
                    p No way