.audio-card {
    @include colauto(0);
    font: $fontMainDesktop;

    @include respond(mobile) {
        @include col100(0 0 8px 0, column);
        font: $fontMainMobile;
    }

    &__cover {
        margin: 0 0 8px 0;

        img {
            width: 100%;
            height: auto;

            @include respond(mobile) {
                //width: 50%;
            }
        }
    }

    &__description {
        @include col100(0 0 0 24px, column);

        @include respond(mobile) {
            @include col100(0, column);
        }

        p {
            margin: 0 0 16px 0;
        }
    }

    &__info {
        font: $fontSmallDesktop;

        @include respond(mobile) {
            font: $fontSmallMobile;
        }
    }

    &__links {
        @include col100(0, column);

        @include respond(mobile) {
           @include col100(0, column);
        }

        a {
            color: $blue;
            margin: 0 0 4px 0;
        }
    }
}
