@import "colors";

$fontExtraSmall: 13pt/21pt 'KTR', 'PT Serif' Georgia, serif;
$fontMain: 14pt/22pt 'KTR', 'PT Serif' Georgia, serif;
$fontLarge: 24pt/34pt 'KTR', 'PT Serif', Georgia, serif;
$fontExtraLarge: 40pt/50pt 'KTR', 'PT Serif', Georgia, serif;

$fontExtraLargeMobile: 19pt/1.3em 'KTR', 'PT Serif', Georgia, serif;
$fontMainMobile: 12pt/1.5em 'KTR', 'PT Serif' Georgia, serif;

a {
  color: $blue;
  text-decoration: none;
}

h1 {
  font: $fontExtraLarge;
  margin: 0 0 20px 0;
  
  @include respond(mobile) {
    font: $fontLarge;
    margin: 0 0 16px 0;
  }
}

h2 {
  font: $fontLarge;
  margin: 24px 0 16px 0;

  @include respond(mobile) {
    font: $fontLarge;
    margin: 0 0 16px 0;
  }
}

h3 {
  font: 16px;
  font-weight: bold;
  margin: 0 0 12px 0;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: url('../fonts/pt-root-ui-regular.eot');
  src: url('../fonts/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-regular.woff2') format('woff2'),
  url('../fonts/pt-root-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Bold';
  src: url('../fonts/pt-root-ui-bold.eot');
  src: url('../fonts/pt-root-ui-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-bold.woff2') format('woff2'),
  url('../fonts/pt-root-ui-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KTR';
  src: url('../fonts/ktr.woff');
  src: url('../fonts/ktr.woff?#iefix') format('embedded-opentype'),
  url('../fonts/ktr.woff2') format('woff2'),
  url('../fonts/ktr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KTRI';
  src: url('../fonts/ktri.woff');
  src: url('../fonts/ktri.woff?#iefix') format('embedded-opentype'),
  url('../fonts/ktri.woff2') format('woff2'),
  url('../fonts/ktri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}